.busca {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    margin-top: 210px;
    width: min-content;
    align-items: center;
    color: #2b344b;

}
